*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.App {
    margin: 0 auto;
    max-width: 1400px;
}

.btn {
    padding: 14px 43px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.--inactive-step {
    background-color: #9FA6B2 !important;
}

.--active-step {
    background-color: #1266F1 !important;
}

.--done-step {
    background-color: #207734 !important;
}

.--done-step:not(:last-child):after {
    content: '';
    width: 300px;
    height: 2px;
    position: absolute;
    right: -300px;
    background-color: #207734;
}

.--danger {
    background-color: #ff4444;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 2px;
    border-radius: 5px;
    width: 250px;
}